body  {
    width: 21cm;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
header, .header-space{
  height: 140px;

}
footer, .footer-space {
  height: 50px;
}
.table-content {
  width: 100%;
}

input {
  border: none;
}

h2 span {
  font-weight: normal;
  font-size: 0.6em;
}

.bold {
  font-weight: bold;
}

.borderised td {
  border: 1px solid black;
  margin:0;
}

.page {
  height: 27cm;
  position: relative;
}

.bordered {
  border: 3px solid lightgray;
  font-size: 0.8em;
  padding: 20px;
}

.bottom {
  margin-top: 17cm;
  font-size: 0.8em;
}

.color-primary {
  color: #d60093;
}


.editable {
  min-height: 150px;
  position: relative;
  margin: 0;

}
.editable:not(:focus):empty::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: gray;
  content: "Cliquez ici";
}

/* HEADER */
header .logo {
  width: 15%;
}

header h1 {
  text-transform: uppercase;
  text-align: center;
  width: 80%;
  border-bottom: 3px solid #d60093;
  margin: 0;
  padding-top: 20px;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  width: 21cm;
  background: white;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  background: white;
  width: 21cm;
}

footer table {
  font-size: 0.6em;
  width: 100%;
  text-align: center;
}

.section-titre {
  text-align: center;
  color: white;
  background-color: #d60093;
  width: 100%;
  position: relative;
  font-family: sans-serif;
  font-size: 1.3em;
  padding-top: 4px;
  padding-bottom: 4px;
}

.section-titre::after {
  background-color: #d60093;
  content: " ";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 4px;
  left:0;
}

/* Présentation titre */

.titre-pro {
  text-align: center;
  font-weight: normal;
  font-family: Arial;

}

.titre-pro .niveau {
  display: block;
  text-transform: capitalize;
  font-size: 0.7em;
  font-weight: bold;
}

.dates {
  text-align: center;
  border: 3px solid lightgray;
  font-size: 1.2em;
  margin-bottom: 40px;
}

.dates span {
  font-size: 0.7em;
}

.blocks-arrow {
  border-left: 5px solid lightgray;
  padding-left: 5px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blocks-arrow>div>* {
  display:block;
  margin:5px;
  position: relative;
}

.blocks-arrow>div>input {
  width: 100%;
}

.blocks-arrow .left-block {
  width: 30%;
  font-style: italic;
  position: relative;
}

.blocks-arrow .left-block label::after {
  content: "►";
  font-size: 0.4em;  
  position: absolute;
  right:0;
  top:5px;
}

.blocks-arrow .right-block {
  width: 70%;
  color: black;
}

.organisme {
  color: #404040;
}

.candidate {
  color: #d60093;
  border-color: #d60093;
}

/*
Compétences
*/
.activite-titre {
  color: white;
  background-color: #d60093;
  width: 100%;
  text-indent: 10px;
  position: relative;
  font-family: sans-serif;
  font-size: 1.3em;
  padding-top: 6px;
  padding-bottom: 1px;
  margin-bottom: 0;
}

.activite {
  display:flex;
  width: 100%;
  border-bottom: 5px solid #d60093;
  margin-bottom: 10px;
}

.activite p {
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 1.2em;
}

.activite p:first-child {
  white-space: nowrap;
}


.comps {
  display: flex;
  flex-wrap: wrap;
}
.comps .coche-comp {
  width:31.9%;
  border: 1px solid black;
  padding: 16px 0;
  text-align: center;
}

.projets {
  margin-top: 20px;
}

.projets .head {
  font-weight: bold;
}

.projets .head div {
  
  padding-top: 10px;
}

.projets .line {
  display: flex;
  flex-wrap: wrap;
}

.line>div {
  padding: 5px;
  border: 1px solid black;
}

.line div .editable {
  float: right;
  width: 90%;
}

.line div>input {
  height: 100%;
}

.line>div:nth-child(1) {
  width: 65%;
}

.line>div:nth-child(2) {
  width: 10%;
}

.line>div:nth-child(3) {
  width: 20%;
  padding: 0;
}

.projets .satisfaction {
  font-size: 0.85em;
}

.remarque {
  margin-top: 20px;
  page-break-inside: avoid;
}

.remarque>div {
  margin:0;
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
}

.remarque label {
  margin:0;
  display: block;
  border-left: 3px solid #d60093;
  border-bottom: 2px solid #d60093;
  font-weight: bold;
  padding: 3px;
  font-size: 0.9em;
}
.remarque label>span {
  font-weight: normal;
  color: gray;
}

.remarque .editable {
  top: 5px;
  margin: auto;
  width: 90%;
  min-height: 260px;
}

.remarque .editable::after {
  position: absolute;
  top: 5px;
  left: -30px;
  content: "►";
  color: #d60093;
}


/* Signature */

.table-signature {
width: 100%;
}

.table-signature th:first-child {
  text-align: left;
}

.table-signature td {
  border: 1px solid gray;
  padding: 20px 10px;
}

.table-signature td:first-child {
  border-left: 3px solid #d60093;
}

.table-signature .signature {
  width: 120px;
  text-align: center;
}

.table-signature input {
  width: 75%;
}

/* Synthèse */
.synthese h2 {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7em;
  border-top: 2px solid gray;
  border-bottom: 3px solid gray;
  padding: 5px 0;
  margin-bottom: 60px;
}

.synthese h2::after {
  content: " ";
  width: 100%;
  height: 30px;
  background-color: lightgray;
  border-bottom: 3px solid #d60093;
  position: absolute;
  bottom: -36px;
  left:0;
}

.synthese table thead {
  text-align: left;
  background-color: lightgray;
}
.synthese td {
  border: 1px solid gray;
  padding: 5px;
}

.synthese label {
  margin-right: 30px;
}

.synthese th {
  border: 1px solid gray;
  padding: 5px;
}

.synthese th:first-child {
  width: 30%;
}